.button{
  max-width: 600px;
  background-color: var(--brown-button);
  border: 0;
  padding: 0.4rem;
  border-radius: 1.5rem; // Equivale em % ao tamanho do elemento (50%)
  color: var(--white);

  &[disabled]{
    cursor: not-allowed;
    svg{
      animation: animate 2s infinite;
    }
  }

  // Transição de 0.2s para o filtro de brilho
  transition: filter 0.2s;
  // Quando passar o mouse por cima da classe button, o filtro de brilho vai aumentar em 8%
  &:hover{
    filter: brightness(1.08);
  }
}

.buttonText{
  color: var(--white);
}

@keyframes animate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
