// * Aplica em todo nosso projeto
*{
  margin: 0;
  padding: 0;
  outline: 0;
  // * Faz com que o tamanho do elemento seja a soma do padding + border + conteúdo
  box-sizing: border-box;
}

// :root é o elemento raiz da nossa aplicação, (em volta da aplicação)
:root{
  --white: #fff;
  --black: #000;
  --backgorund: #0e0e0c;
  --gray-100: #8A8A8A;
	--brown: #ad7b58;
	--brown-button: #c2ac95;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  background: var(--backgorund);
}

// body, input, button, textarea, select{
//   font: 400 1rem sans-serif; // * 1rem = 16px
// }

@media(max-width: 720px){
  // html é o elemento raiz da nossa aplicação
  html{
    font-size: 87.5%; // * 14px
  }
}

@media(max-width: 1080px){
  html{
    font-size: 93.75%; // * 15px
  }
}
