.containerWrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	height: 100vh;
	background-color: var(--white);
}

.containerleft{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	background-color: var(--white);
}

.subtitle{
	text-align: center;
	color: var(--brown);
	font-family: 'Maven Pro';
}

.title{
	align-self: center;
	justify-content: flex-end;
	color: var(--brown);
	font-size: 8.3rem; //equivale a 104px
}

.description{
	align-self: center;
	justify-content: flex-start;
	color: var(--brown);
	font-size: 2rem; //equivale a 32px
	font-family: 'Poppins';
}

.container{
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	width: 50%;
	background-color: var(--white);
}

.containerCenter{
	flex: 1;
  min-height: 100vh;
  display: flex;
	width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
	background-image: url('../public/assets/download.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.containerIpunt{
	display: flex;
	width: 400px;
	height: 300px;
	background-color: var(--brown);
	align-items: center;
	justify-content: center;
}

.login{
  width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2{
    color: var(--white);
		font-size: 20px;
		font-family: 'Poppins';
		margin-bottom: 5px;
  }

  form{
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  form button{
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: center;
    height: 40px;
		width: 150px;
    font-size: 1rem;
		font-family: 'Poppins';
  }
}

.text{
  margin-top: 1rem;
  color: var(--white);
  cursor: pointer;
	font-family: 'Poppins';
}

// Quando chegarmos em 620px de largura, o login vai ter 90% de largura
@media (max-width: 620px) {
  .login{
    width: 90%;
  }
}
